.example-card {
   max-width: 400px;
   height: 500px;
   margin-bottom: 1em;
 }
 .card__img{
   height: 280px;
   margin-bottom: 5px !important;
 }
 .dishDetail{
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 
 
 .comentarios__ul{
   margin-bottom: 1.5em;
 }
 .comentarios__li{
   list-style: none;
 }
 
 
 @media only screen and (min-width:900px){
  .dishDetail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .example-card{
    width: 47%;
  }
  .comentarios{
    width: 47%;

  }
}