/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
  
   font-family: 'Ubuntu', sans-serif !important;
   box-sizing: border-box ;
}
html, body { 
   margin: 0;
   background-color: rgba(240, 240, 240, .5);
}

.wrapper{
   width: 90%;
   max-width: 930px !important;
   padding: 1em; 
   margin: 0 auto;
}
.menu{
   margin-bottom: 0px !important;
}
.nav{  
   background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
.nav__title{
   color: #ffffff;
   margin-bottom: 0px !important;
}
.divCards{
   margin: 1em 0px;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
   padding: 0.7em 0px 0.7em 0px;
}
.card{
   width: 95%;
   margin: 20px;
   max-width: 270px;
}
.card__header, .card__header>img{
   width: 100%;
   border-radius: 4px 4px 0px 0px;
   height: 240px;
   
}
.card__body{
   background-color: #000000;
   margin-top: -5px;
   padding: 1em;
   border-radius:  0px 0px 4px 4px;
}
.card__name{
   text-align: center;
   margin-bottom: 0px !important;
   color: #ffffff;
}

@media only screen and (min-width:600px){
   .divCards{
      flex-direction: row;
      justify-content: space-between;
   }
   .card{
      cursor: pointer;
      width: 40%;
      transition: 0.4s transform; 
   }
   .card:hover{
      transform: scale(1.1);
   }
   
}
@media only screen and (min-width:900px){
   .card{
      width: 21%;
      margin: 10px;     
   }
   .card__header, .card__header>img{
      
      height: 220px;
      
   }
}