<div class="wrapper">
   <h2 class="menu">menu</h2>
   <hr>

   <div class="divCards">
      <div class="card" *ngFor="let dish of dishes">
         <div class="card__header">
            <img src={{dish.image}} alt={{dish.name}}>
         </div>
         <div class="card__body">
            <h3 class="card__name">{{dish.name | uppercase}}</h3>
         </div>
      </div>
   </div>

   <app-dish-detail></app-dish-detail>



</div>







<!--  <div fxFlex>
      <mat-grid-list cols="2" rowHeight="200px">

         <mat-grid-tile *ngFor="let dish of dishes">

            <img height="200px" src={{dish.image}} alt={{dish.name}}>

            <mat-grid-tile-footer>

               <h1> {{dish.name | uppercase}} </h1>

            </mat-grid-tile-footer>

         </mat-grid-tile>
      </mat-grid-list>
   </div> -->